layout python3
export ANSIBLE_VAULT_PASSWORD_FILE=$(pwd)/.vault
export ANSIBLE_INVENTORY=$(pwd)/inventory.ini

# Needed on Mac OS
export OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES

# Also source .env (git-ignored)
dotenv
