# Env
.direnv
.envrc
.env

# Ansible
.vault
inventory.ini
group_vars/*/vault*

# Terraform
.terraform
terraform.tfstate*
terraform.tfvars
.auto.tfvars
.terraform.lock.hcl

# Kopia repo config
roles/mastodon/templates/kopia-repository.config

# Rclone config
roles/mastodon/templates/rclone.conf

# Mastodon upstream patch
roles/mastodon/files/mastodon.patch
