#### REQUIRED CONFIGURATION ####
# Full path to backend executable (required, no default)
BACKEND="{{ sshguard_backend }}"

# Shell command that provides logs on standard output. (optional, no default)
LOGREADER="{{ sshguard_logreader }}"

#### OPTIONS ####
# Block attackers when their cumulative attack score exceeds THRESHOLD.
# Most attacks have a score of 10. (optional, default 30)
THRESHOLD={{ sshguard_threshold }}

# Block attackers for initially BLOCK_TIME seconds after exceeding THRESHOLD.
# Subsequent blocks increase by a factor of 1.5. (optional, default 120)
BLOCK_TIME={{ sshguard_block_time }}

# Remember potential attackers for up to DETECTION_TIME seconds before
# resetting their score. (optional, default 1800)
DETECTION_TIME={{ sshguard_detection_time }}

# IP addresses listed in the WHITELIST_FILE are considered to be
# friendlies and will never be blocked.
WHITELIST_FILE={{ sshguard_config_path }}/allowlist
