---
- name: Install docker
  become: yes
  apt:
    name:
    - docker.io
    - docker-compose
    - docker-compose-v2
    - docker-buildx

- name: Configure the docker service to start after tailscale
  become: yes
  ansible.builtin.lineinfile:
    path: /lib/systemd/system/docker.service
    insertafter: "^After="
    line: 'After=tailscaled.service'
  register: post_tailscale

- name: Put user in docker group
  become: yes
  ansible.builtin.user:
    user: "{{ansible_user_id}}"
    append: yes
    groups: docker
  register: docker_user

- name: Enable docker buildkit
  become: yes
  template:
    src: daemon.json
    dest: '/etc/docker/daemon.json'
  register: buildkit

- name: Docker service
  become: yes
  ansible.builtin.service:
    name: docker
    state: restarted
  when: post_tailscale.changed or docker_user.changed or buildkit.changed

- name: Cron docker prune
  ansible.builtin.cron:
    name: "docker prune"
    job: 'cron-runner docker system prune -af'
    hour: "0"
    minute: "10"
